*{

    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body{

    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1280px) {
    

    #my-video{

        width: 1024px;
        height: 576px;
    }
}

@media screen and (max-width: 1024px) {
    

    #my-video{

        width: 640px;
        height: 360px;
    }
}
